body{
  background-image: url('/resources/images/background.jpg');
  background-position-x: center;
  background-position-y: center;
  background-size:cover;
  background-repeat: no-repeat;

}
.main{
  opacity: 0.7;
}
.well .floater{
  float: right;
}
